VITE_PUBLIC_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51c3hhYW52bGRzcWpjaWRza2FlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczNzkyNzIsImV4cCI6MjA5Mjk1NTI3Mn0.G_EDz-5LFAYDADK4EucJgexP0i5CEdlU2_nkLcadkhY
VITE_PUBLIC_SUPABASE_URL=https://nusxaanvldsqjcidskae.supabase.co
SUPABASE_PROJECT_ID=nusxaanvldsqjcidskae

VITE_FRONTEND_URL=http://localhost:5173
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51c3hhYW52bGRzcWpjaWRza2FlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzM3OTI3MiwiZXhwIjoyMDkyOTU1MjcyfQ.sz2SCX4Ou1a63ikBrDmOrrVD036v1lxwUkTYyyLKGVY
MOLLIE_API_KEY=test_QJv8wSSUgpGckC52EaDdbGGe5UEWpN
BACKEND_URL=https://scarily-flyable-anemia.ngrok-free.dev
