<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <title>Drink menu</title>
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="../styles/drinks.css" />
</head>
<body>
  <main class="products" aria-labelledby="drink-menu-title">
    <header class="container">
      <h1 class="title" id="drink-menu-title">Drink menu</h1>
      <p class="description">Tap to select. You can choose multiple.</p>
    </header>

    <div class="content-layout">
        <aside class="sidebar">
          <p class="sidebar-label">Categories</p>
          <section class="categories" aria-label="Drink categories"></section>
        </aside>
    
        <section class="list" aria-label="Drink options"></section>
    
        <aside class="bill" aria-label="Your bill"></aside>
    </div>
  </main>

  <script type="module" src="../js/showDrinks.js"></script>
  <script type="module" src="../js/showCategories.js"></script>
  <script type="module" src="../js/showBill.js"></script>
  <script type="module" src="../js/index.js"></script>
  <script type="module" src="../js/auth.js"></script>
</body>
</html>