<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="../styles/tokens.css" />
    <link rel="stylesheet" href="../styles/reset.css" />
</head>
<body>
    <section class="border">
        <header>
            <a href="home.html">Home</a>
            <div class="nav-links">
                <a href="login.html">Log in</a>
                <a href="drinks.html">Drinks</a>
                <a href="orders.html">Orders</a>
                <a href="admin.html">My account</a>
            </div>
        </header>
        <main>
            <img src="/project-2-finaal-project-last-braincell-brigade/src/assets/images/Group 1.png" alt="group1">
            <p>
                Welkom bij de home pagina van pinpong club HNO Assenede! Hier kunt u uw account terugvinden, planningen maken, wedstrijden inschrijven en uw drankje registreren na het sporten. 
                Via deze site kan u uw drank opnemen, betalen of een rekening openen als u verkiest om later te betalen. Als uitspeler kan u een gast account aanmaken en uw drank rechtstreeks afrekenen.
            </p>
        </main>
        <div class="login-btn">
            <a href="login.html">Log in >></a>
        </div>
    </section>
    <section class="info">
        <h1>Over onze club >></h1>
        <p>
            HNO Assenede is het resultaat van een fusie tussen twee tafeltennisclubs: TASS, opgericht in 1996, en HNO, wat staat voor "Het Netje Over." 
            Beide clubs hebben een rijke waarde binnen de tafeltenniswereld en besloten hun krachten te bundelen om samen nog sterker te staan. 
        <br>
        <br>
            Met deze fusie brengen we het beste van beide clubs samen en bieden we onze leden een nog betere sportervaring. Of je nu al jaren speelt of net begint, bij HNO Assenede ben je altijd welkom!
        </p>
        <img src="/project-2-finaal-project-last-braincell-brigade/src/assets/images/pingpong-home-page 2.png" alt="image">
    </section>
    <section class="bestuur">
        <h2>Ons Bestuur</h2>
        <div class="bestuur-tabel">
            <div class="tabel1">
                <ul>
                    <li>Voorzitter</li>
                    <li>Erevoorzitter</li>
                    <li>Ondervoorzitter & helpsecretaris</li>
                    <li>Secretaris & competitieverantwoordelijke</li>
                    <li>Penningsmeester</li>
                    <li>Interclubleider</li>
                    <li>Jeugdverantwoordelijke</li>
                    <li>Materiaalmeester</li>
                    <li>Communicatieverantwoordelijke</li>
                </ul>
            </div>
            <div class="tabel2">
                <ul>
                    <li>Bernard Van Schiinacker</li>
                    <li>Marleen Van Serveren</li>
                    <li>Kevin Van Sante</li>
                    <li>Redgy Van Sante</li>
                    <li>Tom Hamerlinck</li>
                    <li>Pieter Olieux</li>
                    <li>Brecht Nuytinck</li>
                    <li>Jeffrey Slagle</li>
                    <li>Ennio Buysse</li>
                </ul>
            </div>
        </div>
    </section>











    <!--
    <button id="logout-btn">
        Logout
    </button>
    -->

    <script type="module" src="../js/index.js"></script>
    <script type="module" src="../js/auth.js"></script> 
</body>
</html>