<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../styles/tokens.css">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/globals.css">
  <link rel="stylesheet" href="../styles/orders.css">
</head>

<body>
  <div class="page">

    <header class="top-bar">
      <div class="logo-mark">
        <img src="../assets/images/HNO_Assenede_logo.png" alt="logo van HNO Assenede">
      </div>
      <nav class="navigation" aria-label="Primary">
        <a class="tab" href="./home.html">Home</a>
        <a class="tab active" href="#" aria-current="page">Orders</a>
        <a class="tab" href="./admin.html">Admin dashboard</a>
      </nav>
    </header>

    <main>
      <section class="section section-orders">
        <div class="container container-center">
          <h2 class="section-title">Your Orders</h2>
          <p class="section-subtitle">Track paid and currently running orders, including payment times and status.</p>
          <div class="input-wrap">
            <div class="textfield">
              <input id="search-input" class="textfield-input"
                placeholder="Search by order ID, customer fe: ORD-1, John Doe">
            </div>
          </div>
          <div class="button-group">
            <button class="btn btn-secondary btn-200" id="search-button">Search</button>
            <button class="btn btn-primary btn-200">Export</button>
          </div>
          <div class="filter-group">
            <div class="filter-buttons">All</div>
            <div class="filter-buttons">Paid</div>
            <div class="filter-buttons">Running</div>
            <div class="filter-buttons">Canceled</div>
          </div>
        </div>

        <div class="orders-wrapper">
          <div class="order-list" id="running-order-list">

          </div>
          <div class="order-list" id="paid-order-list">

          </div>
        </div>

      </section>
    </main>

    <footer class="footer">
      <p>© 2026 Ping Pong Hub</p>
      <nav aria-label="Footer">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Support</a>
      </nav>
    </footer>

  </div>

  <script type="module" src="../js/checkOrders.js"></script>
  <script type="module" src="../js/admin.js"></script>
  <script type="module" src="../js/auth.js"></script>
</body>

</html>